{% extends "layout.html" %}
{% block content %}
      {% if config.THEME_SETTINGS.profilepicture %}
      <div class="row">
        <div class="col-sm-3 col-centered logo">
          <img alt="profile-picture" class="img-responsive" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 event-title text-center">
          <span id="event-title">{{ config.THEME_SETTINGS.name | upper }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">{{ config.THEME_SETTINGS.about }}</p>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-xs-12 ">
          <div class="background center-block">
            <div class="transbox">
              <p class="text-center">14 de Julho de 2018<br/>Av. Eng. Luís Carlos Berrini, 105, Brooklin Paulista, São Paulo</p>
            </div>
          </div>
          <div class="google-maps">
            <iframe class="center-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.15318424355!2d-46.69242768488708!3d-23.59883858466435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce573433dd2aa3%3A0xd5796b9fb756e2b4!2sCreditas!5e0!3m2!1spt-BR!2sbr!4v1530478534703" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <h1 class="text-center" id="tickets">Garanta seu ingresso!</h1>
      <script src="./static/timecounter.js"></script>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center" id="timecounter"></p>
          <div class="tickets">
            <iframe src="https://eventbrite.com.br/tickets-external?eid=47626169154&ref=etckt" frameborder="0" height="308" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 user-social text-center">
          <h1 class="text-center">Redes sociais</h1>
          {% include "partials/social.html" %}
        </div>
      </div>
{% endblock content %}
